<h1>Tu perfil (sin datos sensibles)</h1>
{{user.rol}}
<p>Nombre completo: {{user.last_name}}, {{user.first_name }} </p>
<p>Correo electronico: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Rol: {{user.rol}}</p>
<p>Ultima conexión: {{user.last_connection}}</p>
<form id="formLogout">
  <button type="submit" id="btn_logout">Logout</button>
</form>
<form id="formReestablecer">
  <button type="submit" id="btn_reestablecer_profile">Reestablecer Contraseña</button>
</form><br>


<h3>Cargar archivo JSON o imágenes para tus productos</h3>
<button name="cargar" type="submit" id="btn_cargar_JSON">Cargar</button><br><br>

<h3>Ver los productos en stock</h3>
<button name="productosAdmin" onclick='productos("{{user.rol}}")'>Productos</button><br>

<script>
function productos(rol){
  const url = window.location.origin
 if(rol=="Premium" ||rol=="Admin"){
    const url2 = url + `/api/products/admin/` 
    window.location.href = url2}else {
      const url2 = url + `/home/` 
    window.location.href = url2
    }
}
</script>

<script src="/js/profile.js"> </script>